<!DOCTYPE html>
<html lang="ja">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="/favicon.ico">
      <link rel="stylesheet" href="/static/css/style.css">
      <link rel="stylesheet" href="/static/vender/css/bootstrap.umi.min.css">
      {# 追加スタイルシート #}
      {% block style %}{% endblock %}
      
      <title></title>
  </head>

  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">ホーム</a>
          <a class="blog-nav-item" href="#">新着</a>
          <a class="blog-nav-item" href="#">人気</a>
          <a class="blog-nav-item" href="#">カテゴリ</a>
          <a class="blog-nav-item" href="#">このサイトについて</a>
        </nav>
      </div>
    </div>

    <div class="container">

      {# ページのコンテンツ部分 #}
      {% block content %}{% endblock %}

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/static/vender/js/bootstrap.min.js"></script>
    {# 追加のスクリプト #}
    {% block script %}{% endblock %}
  </body>
</html>
