{% extends "base.html" %}

{% block style %}
    <style>
    .comment-strong-1 { font-size: large; font-weight: 500; }
    .comment-strong-2 { font-size: large; font-weight: 700; }
    .comment-strong-3 { font-size: large; font-weight: 700; color: #ff0000; }
    .comment-strong-4 { font-size: x-large; font-weight: 500; }
    .comment-strong-5 { font-size: x-large; font-weight: 700; }
    .comment-strong-6 { font-size: x-large; font-weight: 700; color: #ff0000; }
    .comment-strong-7 { font-size: xx-large; font-weight: 500; }
    .comment-strong-8 { font-size: xx-large; font-weight: 700; }
    .comment-strong-9 { font-size: xx-large; font-weight: 700; color: #ff0000; }
    </style>
{% endblock %}

{% block content %}
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">{{ entry.title }}
                <small>Secondary Text</small>
            </h3>
        </div>
    </div>
    <!-- /.row -->
    
    1 ：<font color="green"><b>★はてなの人気エントリー</b></font>
    ：{{ entry.published_date.strftime('%Y/%m/%d(%a) %H:%M:%S') }}</br>
    <p>
      {{ entry.content|safe }}
      （省略されました・・全てを読むには<a href="">ここ</a>を押してください）</br>
    </p>
    
    {% for comment in comments %}
      {{ (loop.index + 1) }} ：
      <font color="green"><b>はてなのユーザー</b></font>
      ：{{ comment.timestamp.strftime('%Y/%m/%d(%a) %H:%M:%S') }} ID:{{ comment.hatena_id }}</br>
      <p class=''>{{ comment.comment }}</p>
    {% endfor %}

    <hr>
{% endblock %}

{% block script %}
  <script>
  </script>
{% endblock %}