{% extends "base.html" %}

{% block title %}
{{ entry.title }} - 
{% endblock %}

{% block style %}
    <style>
    .comment-strong-1 { font-size: large; font-weight: 600; }
    .comment-strong-2 { font-size: large; font-weight: 800; color: #ff6600; }
    .comment-strong-3 { font-size: large; font-weight: 800; color: #ff0000; }
    .comment-strong-4 { font-size: x-large; font-weight: 600; }
    .comment-strong-5 { font-size: x-large; font-weight: 800; color: #ff6688; }
    .comment-strong-6 { font-size: x-large; font-weight: 800; color: #ff0000; }
    .comment-strong-7 { font-size: xx-large; font-weight: 600; }
    .comment-strong-8 { font-size: xx-large; font-weight: 800; color: #ff6622; }
    .comment-strong-9 { font-size: xx-large; font-weight: 800; color: #ff0000; }
    </style>
{% endblock %}

{% block content %}
      <div class="blog-header">
        <h1 class="blog-title">{{ entry.title }}</h1>
        <p class="lead blog-description">はてなの人気エントリー</p>
      </div>
      <div class="row">
        <div class="col-sm-8 blog-main-container">
          <div class="blog-main">

          1 ：<font color="green"><b>★はてなの人気エントリー</b></font>
          ：{{ entry.published_date.strftime('%Y/%m/%d(%a) %H:%M:%S') }}</br>
          <p>
            {{ entry.content|safe }}
            （省略されました・・全てを読むには<a href="{{ entry.url }}">ここ</a>を押してください）</br>
          </p>
          </br>
          
          {% for comment in comments %}
            {{ (loop.index + 1) }} ：
            <font color="green"><b>はてなのユーザー</b></font>：{{ comment.data.timestamp.strftime('%Y/%m/%d(%a) %H:%M:%S') }} ID:{{ comment.data.hatena_id }}</br>
            <p{% if comment.score != 0 %} class="comment-strong-{{ comment.score }}"{% endif %}>{{ comment.data.comment }}</p>
            </br>
          {% endfor %}

          </div><!-- /.blog-main -->
        </div><!-- /.blog-main-container-->
        {% include 'sidebar.html' %}
      </div><!-- /.row -->
{% endblock %}

{% block script %}
  <script>
  </script>
{% endblock %}