{% extends "base.html" %}

{% block style %}
    <style>
    </style>
{% endblock %}

{% block content %}
    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Page Heading
                <small>Secondary Text</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
      {% for entry in entries %}
        <div class="col-xs-6 col-lg-4 portfolio-item">
          <div class="thumbnail">
            <div class="thumbnail-image-wrapper">
              <a href="/entry/{{ entry['eid'] }}"><img class="img-responsive" src="{{ entry['screenshot'] }}" alt="{{ entry['title'] }} のスクリーンショット"></a>
            </div>
            <h3 class="thumbnail-caption"><a href="/entry/{{ entry['eid'] }}">{{ entry['title'] }}</a></h3>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- /.row -->
    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>
{% endblock %}

{% block script %}
  <script>
  </script>
{% endblock %}