{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block style %}
    <style>
    </style>
{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-sm-8 blog-main">

          {% for entry in entries %}
          <div class="blog-post-container clearfix">
            <div class="blog-post">
            
              <div class="media">
                <div class="media-left">
                  <img class="media-object" src="/static/image/2ch/boon_01.gif" alt="...">
                </div>
                <div class="media-body">
                  <h1 class="media-heading blog-post-title"><a href="/entry/{{ entry['eid'] }}">{{ entry['title'] }}</a></h1>
                </div>
              </div>
              
              <p class="blog-post-meta">{{ entry['created_date'].strftime('%Y/%m/%d %H:%M:%S') }} <a href="/category/{{ entry['categories'][0] }}">{{ entry['categories'][0] }}</a></p>

              <img class="img-responsive pull-left" style='padding:0; margin:0 15px 15px 0;' src="{{ entry['screenshot'] }}" alt="{{ entry['title'] }} のスクリーンショット">
              <p>{{ entry['content_snippet'] }}</p>
              <a href="/entry/{{ entry['eid'] }}">続きを読む</a>
            </div><!-- /.blog-post -->
          </div><!-- /.blog-post-container -->
          {% endfor %}

          <nav>
            <ul class="pager">
              <li>
                  {% if page == 1 %}<a href="/">前の記事</a>
                  {% elif page >= 1 %}<li><a href="/{{ page - 1 }}">前の記事</a>
                  {% endif %}
              </li>
              <li><a href="/{{ page + 1 }}">次の記事</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        {% include 'sidebar.html' %}

      </div><!-- /.row -->
{% endblock %}

{% block script %}
  <script>
  </script>
{% endblock %}